name: CI workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  packages: write

jobs:
  ci:
    runs-on: ubuntu-latest
    container: golang:1.25-alpine
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: extractions/setup-just@v2

      - name: Run API integration tests
        run: just test

  build-api-docker-image:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: ci
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          target: api
          tags: |
            vncsmyrnk/poll-api:latest
            vncsmyrnk/poll-api:${{ github.sha }}

  build-vote-summary-generator-docker-image:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: ci
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          target: vote-summary-generator
          tags: |
            vncsmyrnk/poll-vote-summary-generator:latest
            vncsmyrnk/poll-vote-summary-generator:${{ github.sha }}

  # https://github.com/google-github-actions/example-workflows/blob/main/workflows/deploy-cloudrun/cloudrun-docker.yml
  deploy-to-cloud-run:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: [build-api-docker-image, build-vote-summary-generator-docker-image]
    environment:
      name: cloud-run
      url: https://poll-api.vncsmyrnk.dev
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - name: Google Auth
        id: auth
        uses: 'google-github-actions/auth@v3'
        with:
          project_id: ${{ secrets.PROJECT_ID }}
          workload_identity_provider: '${{ secrets.WIF_PROVIDER }}'
          service_account: '${{ secrets.WIF_SERVICE_ACCOUNT }}'

      - name: Deploy to Cloud Run
        id: deploy
        uses: google-github-actions/deploy-cloudrun@v3
        with:
          service: ${{ vars.SERVICE }}
          region: ${{ vars.REGION }}
          image: vncsmyrnk/poll-api:${{ github.sha }}
